{{ define "auth" }}
{{ template "headerUnauthorized" }}

<main class="container">
    <div class="bg-light p-5 rounded">
        <h1>Авторизация</h1>
        <form method="POST" class="col col-lg-4">

            <!--Логин-->
            <div class="form-group">
                <label for="input-login">Имя пользователя:</label>
                {{ with .Errors.Login }}
                <label for="input-login" class="text-danger">{{ $.Errors.Login }}</label>
                {{ end }}
                <input type="text" class="form-control" name="login" id="input-login" placeholder="Введите имя пользователя" value="{{ .Login }}">
            </div>

            <!--Пароль-->
            <div class="form-group">
                <label for="input-password">Пароль:</label>
                {{ with .Errors.Password }}
                <label for="input-password" class="text-danger">{{ $.Errors.Password }}</label>
                {{ end }}
                <input type="password" class="form-control" name="password" id="input-password" placeholder="Введите пароль">
            </div>

            <!--Отправка формы-->
            <div class="form-group">
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</main>

{{ template "footer" }}
{{ end }}