{{ define "footer" }}

<footer class="container mastfoot mt-auto footer">
    <div class="inner">
        <p>
            Developed by <b>Boris Goldovskiy</b><br>
            <a href="https://github.com/bgoldovsky/" target="_blank">Github</a>
            <a href="https://www.facebook.com/boris.goldovskiy/" target="_blank">Facebook</a>
            <a href="https://www.instagram.com/borisgoldovskiy/" target="_blank">Instagram</a>
        </p>
    </div>
</footer>
<!--Тут можно разместить JS скрипты-->
</body>
</html>

{{ end }}

